<div class="new">


<h2>Add a new yacht</h2>
<%= render 'form' %>
</div>

<style type="text/css">
  <style type="text/css">
  @media screen and (max-width: 600px) {
    .new {
    margin-top: 400px;
  }
}
</style>

