
.container-steps {
  width:100%;
  height:25%;
  padding:10%;
  text-align:center;
  margin: auto;
  background-image: url('footer.jpg');
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  display: flex;
}
.iconDetails {
    margin: auto;
    font-size: 50px;
    padding: 10px;
  }

.step-item {
  width: 200px;
  font-size: larger;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 8px;
  transition: background-color .4s ease;
  color: $black!important;
  text-decoration: none!important;
}

.step-item:hover {
  background-color: white;
}

body:not(.yachts-index) {
  .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
