
.container-steps {
  width:50%;
  height:25%;
  padding:10%;
  text-align:center;
  margin: auto;
  background-color: burlywood;
  justify-content: space-around;
}
.iconDetails {
    margin: auto;
    float:left; 
    height:100 px;
    width:100 px;	
  } 
     
.icon-steps {
margin-right: 60px;
}

.step-item {
  font-size: larger;
  justify-content: center;
}