.banner {
  max-width: 100%;
   height: auto;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  color: white;
  background-color: #00cec9;
  border: 1px solid #00cec9;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.show-button {
  display: flex;
  justify-content: space-between;
}


#photos img {
  margin: 0 5px;
}

#photos {
  min-height: 110px;
  background: #f4f4f4;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px dashed gray;
}

.yacht_long, .yacht_lat, .yacht_address {
  display: none;
}

.comments-container {
  border-radius: 8px;
  padding: 5px;
}

.content-comments {
  margin-top: 2px;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 1em 2em;
  font-weight: lighter;

}

.comment-date {
  font-style: italic;
}
.left-content-comments {
  margin: auto;
}

.users-stars {
  margin-bottom: 10px;
}
.mapboxgl-popup-content ul {
  margin-bottom: 0
}

.avatar-comments {
  flex-direction: column;
}
.left-content-comments > div {
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  list-style: none;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.user-info .avatar {
  width: 80px;
  margin: auto;
}

#be {
  text-align: right;
}

#be p {
  font-weight: bolder;
}

.bes {
  padding-top: 10px;
}


.fa-star {
  color: #eeac14;
}
