<%
  indicators = ""
  divs = ""
%>
<h2 id="trend-title">🔥 Yachts on fire 🔥</h2>
<div class="carousel-container">
  <% @yachts.last(5).each.with_index do |yacht, index| %>
    <% active = index == 0? "active" : ""

    indicators += <<-HTML
      <li data-target="#carouselExampleIndicators" data-slide-to="#{index}" class="#{active}"></li>
    HTML
    divs += <<-HTML
      <div class="carousel-item #{active}" onclick="location.href='#{yacht_path yacht}'">
        #{cl_image_tag yacht.photos.first.key, height: 500, class: 'd-block w-100'}
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-content">
            <h5>#{yacht.title}</h5>
          </div>
        </div>
      </div>
    HTML
    %>
<% end %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <%= indicators.html_safe %>
  </ol>
  <div class="carousel-inner">
    <%= divs.html_safe %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
